.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 128px;
  margin-bottom: 64px;

  & > .divider {
    font-size: 200px;
    line-height: 1 !important;
    height: 200px;
    font-weight: 400;
    color: var(--color-gray-1);
  }

  &[data-active=true] > .divider {
    animation: blink 2s infinite;
  }
}

.buttons {
  width: 180px;
  height: 64px;
  position: relative;
  display: flex;

  & > button {
    position: absolute;
    transition: opacity 0.15s, width 0.2s;
  }

  & > button:nth-child(1) {
    z-index: 1;

    width: 100px;
    left: 0;
  }

  & > button:nth-child(2) {
    margin-left: 16px;
    width: 64px;
    right: 0;
  }

  &.stopped {
    & > button:nth-child(1) {
      width: 180px;
    }

    & > button:nth-child(2) {
      opacity: 0;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
